.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 20px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header__input > input {
  flex: 1;
  border: none;
}
.header__inputButton {
  width: 40px;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__icons {
  display: flex;
  align-items: center;
}
.header__icon {
  margin-right: 8px;
}
.header__icon__avatar {
  width: 30px;
  height: 30px;
}
